<div class="layout">
  <div class="toolbar">
    <div class="toolbar-title">
      <a class="github-icon"
         href="https://github.com/Blaarkies/angular-control-value-accessor">
        <img src="assets/github.png" alt="A GitHub logo"/>
      </a>
      <h1>Angular Control Value Accessor</h1>
      <h3>- by Pierre Roux</h3>
    </div>
  </div>

  <div class="left-sidebar">
    <a class="slides"
       target="_tab"
       href="https://github.com/Blaarkies/angular-control-value-accessor/blob/main/storage/slides.pdf">
      <button>Slides</button>
    </a>

    <button routerLink="/{{routes.NativeInputs}}">HTML Inputs</button>
    <button routerLink="/{{routes.AngularInputs}}">Angular Inputs</button>
    <button routerLink="/{{routes.Autocomplete}}">Autocomplete</button>
    <button routerLink="/{{routes.CustomControl}}">Customized</button>
  </div>

  <div class="route">
    <router-outlet></router-outlet>
  </div>
</div>
