:host > div {
  padding: 0 20px;
}

.layout {
  width: 100%;
  display: grid;
  gap: 20px 80px;
  grid-template-columns: 1fr 1fr;
}

.layout > section {
  width: auto;
  height: max-content;
}

.ensure-short-line {
  word-break: break-all;
  white-space: pre-wrap;
}
