<div>

  <h2>Custom Inputs</h2>

  <div class="layout">
    <section class="input-form-container">
      <h4>Puzzle</h4>

      <app-input-puzzle label="Puzzle" blocks="1234" [formControl]="puzzleControl"></app-input-puzzle>

      <div>
        <code>puzzleControl.value</code>: <span class="text-highlight">{{puzzleControl.value}}</span>
      </div>
    </section>

    <section class="input-form-container">
      <h4>Speech</h4>

      <app-input-speech label="Voice" [formControl]="speechControl"></app-input-speech>

      <div>
        <code>speechControl.value</code>: <span class="text-highlight">{{speechControl.value}}</span>
      </div>
    </section>

    <section class="input-form-container">
      <h4>Draw</h4>

      <app-input-draw label="Figure" [formControl]="drawControl"></app-input-draw>

      <div>
        <code>drawControl.value</code>: <span class="text-highlight">
        <pre *ngIf="drawControl.value" class="ensure-short-line">
          <span>height: {{drawControl.value.height}}</span>
          <span>width:  {{drawControl.value.width}}</span>
          <span>data:   {{drawControl.value.data.slice(0, 100)}}...</span>
        </pre>
      </span>
      </div>
    </section>
  </div>

</div>
