:host > div {
  padding: 0 20px;
}

.layout {
  display: grid;
  gap: 20px;
}

.pointing-line {
  z-index: 1;
  position: absolute;
  pointer-events: none;

  stroke: orangered;
  stroke-width: 4px;
  fill: none;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  transition: stroke-dashoffset 1.2s ease-in-out;
}

.show-line {
  stroke-dashoffset: 0;
}

.support-overlay {
  position: relative;
}

.locate-by-arrow {
  margin-top: 75px;

  opacity: 0;
  transition: 1s;
  transition-delay: 1s;
}

.show-code {
  opacity: 1;
}
